@import '../_helpers/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Special Elite','Courier New', Courier, monospace; 
  color: $color-primary;
}

html {
  font-size: 10px;
}