@import '../_helpers/variables';

.why  {
  background-color: $color-primary;
  height: 468px;
  text-align: justify;
  display: flex;
  align-items: center;
  &__title {
    color: $color-secondary;
    font-size: 4rem;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 10%;
    line-height: 50px;
  }
  &__subtitle {
    color: $color-secondary;
    font-size: 2rem;
    text-align: justify;
    padding-right: 25%;
    line-height: 25px;
  }
}