@import '../_helpers/variables';

.why  {
  background-color: $color-primary;
  padding: 150px 75px;
  text-align: justify;
  display: flex;
  align-items: center;
  &__title {
    color: $color-secondary;
    font-size: 4rem;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 60px;
    line-height: 50px;
  }
  &__subtitle {
    color: $color-secondary;
    font-size: 2rem;
    text-align: justify;
    max-width: 550px;
    line-height: 25px;
  }
}