@import '../_helpers/variables';

.nav {
  background-color: $color-primary;
  position: relative;
  padding: 10px;
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_link {
      color: $color-secondary;
      text-decoration: none;
      font-size: 2rem;
      &:hover {
        color: $color-orange;
      }
    }
    &_itens {
      align-items: center;
      display: flex;
    }
    &_mobile {
      display: none;
    }
    &_image {
      margin: 5px;
    }
  }
}
@media (max-width: 768px)  {
  .nav {
    padding: 0;
    z-index: 9999;
    &__menu {
      &_itens {
        background-color: $color-primary;
        position: absolute;
        width: 100%;
        z-index: -5;
        height: 60px;
        top: -60px;
        transition: 0.5s;
      }
      &_item {
        margin: 0 auto;
      }
      &_mobile {
        display: flex;
        margin: 5px;
      }
    }
  }
}