.step {
  padding: 150px 0 150px 0;
  display: flex;
  align-items: center;
  & .container {
    display: flex;
    justify-content: space-between;
  }
  &_background {
    &-blue {
      background-color: $color-lightblue;
    }
    &-grey {
      background-color: $color-grey;
    }
    &-orange {
      background-color: $color-orange;
    }
    &-green {
      background-color: rgba($color-green, 0.55);
    }
    &-pink {
      background-color: rgba($color-pink, 0.55);
    }
    &-red {
      background-color: $color-red;
    }
    &-purple {
      background-color: $color-purple;
    }
  }
  &__text {
    max-width: 550px;
    h3 {
      font-size: 10rem;
      margin-bottom: 30px;
    }
    h4 {
      font-size: 5rem;
      margin-bottom: 30px;
    }
    p {
      font-size: 2rem;
      line-height: 25px;
    }
    &_left {
      text-align: end;
    }
  }
}