.step {
  padding: 150px 75px;
  display: flex;
  align-items: center;
  & .container {
    display: flex;
    justify-content: space-between;
  }
  &_background {
    &-blue {
      background-color: $color-lightblue;
    }
    &-grey {
      background-color: $color-grey;
    }
    &-orange {
      background-color: $color-orange;
    }
    &-green {
      background-color: rgba($color-green, 0.55);
    }
    &-pink {
      background-color: rgba($color-pink, 0.55);
    }
    &-red {
      background-color: $color-red;
    }
    &-purple {
      background-color: $color-purple;
    }
  }
  &__text {
    max-width: 550px;
    h3 {
      font-size: 9rem;
      margin-bottom: 30px;
    }
    h4 {
      font-size: 5rem;
      margin-bottom: 30px;
    }
    p {
      font-size: 2rem;
      line-height: 25px;
    }
    &_left {
      text-align: end;
    }
  }
}
@media (max-width: 768px)  {
  .step {
    & .container {
      flex-direction: column;
      align-items: center;
    }
    & .left {
      flex-direction: column-reverse;
    }
    &__text {
      p {
        margin-bottom: 30px;
      }
      h4 {
        font-size: 4rem;
      }
    }
  }
}
@media (max-width: 420px)  {
  .step {
    &__text {
      h4 {
        font-size: 3rem;
      }
    }
  }
}